*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}


.page1{
    height: 100vh;
    width: 100%;
    background-color: beige;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    height: 70vh;

}

.left img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
.right h1{
    font-size: 10vh;
    text-transform: capitalize;
}
.right p{
    font-size: 2rem;
}

@media screen and (max-width:500px) {

    .main{
        display: flex;
        flex-direction: column;
        padding: 3vw 3vw;
    }
.main{
   margin-top: 20vw;

}
.right h1{
    font-size: 9vw;
}
.right p{
    font-size: 1.4rem;
    width: 80%;
}
}
