*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}
.page1{
   min-height: 100vh;
    width: 100%;
    background-color:#212529;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
}
.logo{
    color: rgb(215, 106, 33);
}

.nav-list{
    display: flex;
    column-gap: 30px;
    align-items: center;
text-decoration: none;
list-style-type: none;

}


.nav-list a{
    text-decoration: none;
    color: rgb(209, 209, 209);
    
   font-size: 1.3rem;
}
span{
    color: rgb(215, 106, 33);

}


.main-section{
    display: flex;
    color: rgb(209, 209, 209);
align-items: center;
justify-content: center;
margin-top: 20px;
}

.main-section .right h1{
    font-size: 5vw;
    margin-bottom: 20px;
}

.main-section .right p{
    font-size: 1.2vw;
}

.button{
    padding: 8px 12px;
    background-color:rgb(215, 106, 33);
    border: none;
    outline: none;
    border-radius:10px;
    text-transform: capitalize;

}
.button-two{
    background-color: transparent;
    border: 1px solid white;
    color: rgb(209, 209, 209);

}

.buttons button{
margin-left: 5px;
}

.toggle-btn, .close-btn {
    display: none;

}
.page2{
    min-height: 100vh;
    width: 100%;
    background-color:  #212529;
}
.about{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 60px;
}

.image img{
    height: 400px;
}
.about-section p{
width: 80%;
}

.about-section{
    padding: 10px;
    background-color: #323232;
    color: gainsboro;
}
.about-section h1{
    font-size: 3.4rem;
    margin-bottom: 30px;
}
.about-section button{
    background-color: transparent;
    border:  1px solid orange;
    color: orange;
    padding: 8px 19px;
    border-radius: 10px;
    z-index: 999;
    outline: none;
    position: relative;
    overflow: hidden;

}
.about-section button::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all ease .3s;
    overflow: hidden;
  color: white;
  

}

.about-section button:hover::after{
    left: 0;
    transition: all ease .3s;
  ;
    color: #EFEAE3;
    
}


.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #212529;
}
.page3 h1{
    color: #EFEAE3;
    font-size: 5vw;
    text-align: center;
}
.products{
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    /* height: 500px; */
}


.product-items img{
    height: 300px;
    width: 300px;
    background-color: gray;
    object-fit: cover;
    object-position: center;
}
.product-items{
    text-align: center;
}
.products h4{
    font-size: 2rem;
    color:rgb(215, 106, 33) ;
}

.products span{
    font-size: 2rem;
    color: white;
  
}

@media screen and (max-width: 430px){
   
 
    .toggle-btn {
        display: initial;
        font-size: 1.75rem;
        color: #fff;
    }
    
    .close-btn {
        display: initial;
        position: absolute;
        right: 10%;
        top: 4.25%;
        
    }

    .close {
        font-size: 1.75rem;
    }

    .nav {
        padding-block: .75rem;
    }

    .nav-list {
        position: absolute;
        top: -850%;
        left: 0;
        background-color:#212529;
        width: 100%;
        height: 300px;
        transition: .3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-block: 2.75rem;
    }

    .show-nav {
        top: 0;
        transition: .3s ease;
    }


    .logo h2{
        font-size: 2.5rem;
    }
    
    .main-section{
        flex-direction: column-reverse;
       margin-top: 5vw;
    }    
   
    .about{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top:5vw ;
        
    }
    .image img{
        height: 290px;
    }
   
.main-section .right h1{
    font-size: 14vw;
    margin-bottom: 20px;
    margin-top: 10vw;
}
.main-section .right p{
    font-size: 1rem;
    margin-bottom: 20px;
    
}
.left{
    margin-top: 40px;
}

.page3 h1{
    font-size: 3.3rem;
    margin-bottom: 90px;
}
.product-items img{
    height: 200px; 
    width: 250px;
}
.products span{
    font-size: 1.1rem;
}.products h3{
    font-size: 1.1rem;
}
    .left img{
        height: 300px;
        width: 300px;
        object-fit: cover;
        object-position: center;
    
    }
    .products{
        flex-wrap: wrap;
        row-gap: 10px;

    }

}